# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of popular libraries for Data Science
- List of popular open source tools for Data Science
- Examples of evaluating arithmetic expressions
- Examples of defining and calling functions
- Examples of assigning variables and use of print function

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java
5. Java Script
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. ggplot
4. matplotlib
5. Lattice
6. Plotly

|**Data Science Tools**|
|-|
|Jupyter Notebooks|
|R Studio|
|GitHub|
|Apache Spark|
|MySQL|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
def min_to_hour_convert(min):
    hours = min/60
    return hours
min_to_hour_convert(200)

3.3333333333333335

In [9]:
# Aleternate Operation
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Dichotmy Jones