<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Test Environment for Generative AI classroom labs

This lab provides a test environment for the codes generated using the Generative AI classroom.

Follow the instructions below to set up this environment for further use.

# Setup

### Install required libraries

In case of a requirement of installing certain python libraries for use in your task, you may do so as shown below.

In [1]:
# %pip install seaborn
# import piplite

# await piplite.install(['nbformat', 'plotly'])

### Dataset URL from the GenAI lab
Use the URL provided in the GenAI lab in the cell below.

In [2]:
# URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"

### Downloading the dataset

Execute the following code to download the dataset in to the interface.

> Please note that this step is essential in JupyterLite. If you are using a downloaded version of this notebook and running it on JupyterLabs, then you can skip this step and directly use the URL in pandas.read_csv() function to read the dataset as a dataframe

In [3]:
# from pyodide.http import pyfetch

# async def download(url, filename):
    # response = await pyfetch(url)
    # if response.status == 200:
        # with open(filename, "wb") as f:
            # f.write(await response.bytes())

# path = URL

# await download(path, "dataset.csv")

---

# Test Environment

### Record of prompts used:
1. Write a Python code that can perform the following tasks.
   * Read the CSV file, located on a given file path, into a Pandas data frame, assuming that the first rows of the file are the headers for the data.
2. Write a Python code that identifies the columns with missing values in a pandas data frame.
3. Write a Python code to replace the missing values in a pandas data frame, per the following guidelines.
   * For a categorical attribute "Screen_Size_cm", replace the missing values with the most frequent value in the column.
   * For a continuous value attribute "Weight_kg", replace the missing values with the mean value of the entries in the column.
4. Write a Python code snippet to change the data type of the attributes "Screen_Size_cm" and "Weight_kg" of a data frame to float.
5. Write a Python code to modify the contents under the following attributes of the data frame as required.
   * Data under 'Screen_Size_cm' is assumed to be in centimeters. Convert this data into inches. Modify the name of the attribute to 'Screen_Size_inch'.
   * Data under 'Weight_kg' is assumed to be in kilograms. Convert this data into pounds. Modify the name of the attribute to 'Weight_pounds'.

In [18]:
# Keep appending the code generated to this cell, or add more cells below this to execute in parts
import pandas as pd

# Replace 'file_path' with the actual file path where your CSV file is located
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"

# Read the CSV file into a Pandas data frame
df = pd.read_csv(file_path)

# Assuming the first row of the file contains the headers for the data
# If the headers are not in the first row, you can specify the row number using the 'header' parameter
# For example, if the headers are in the second row, you can use: df = pd.read_csv(file_path, header=1)

# Now you can use the 'df' data frame to perform various data manipulation and analysis tasks
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [22]:
# Assuming 'df' is the Pandas data frame you want to check for missing values
# You can replace 'df' with the name of your data frame

# Check for missing values in each column
missing_values = df.isnull().sum()

# Filter columns with missing values
columns_with_missing_values = missing_values[missing_values > 0].index.tolist()

# Display columns with missing values
print("Columns with missing values:")
print(columns_with_missing_values)

Columns with missing values:
['Screen_Size_cm', 'Weight_kg']

In [24]:
# Assuming 'df' is the Pandas data frame you want to replace missing values in
# You can replace 'df' with the name of your data frame

# Replace missing values in the 'Screen_Size_cm' column with the most frequent value
most_frequent_screen_size = df['Screen_Size_cm'].mode()[0]
df['Screen_Size_cm'].fillna(most_frequent_screen_size, inplace=True)

# Replace missing values in the 'Weight_kg' column with the mean value
mean_weight = df['Weight_kg'].mean()
df['Weight_kg'].fillna(mean_weight, inplace=True)

# Display the data frame after replacing missing values
df.head()

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [26]:
# Assuming 'df' is the Pandas data frame you want to change the data types in
# You can replace 'df' with the name of your data frame

# Change the data type of the 'Screen_Size_cm' column to float
df['Screen_Size_cm'] = df['Screen_Size_cm'].astype(float)

# Change the data type of the 'Weight_kg' column to float
df['Weight_kg'] = df['Weight_kg'].astype(float)

# Display the data frame after changing the data types
df.dtypes

Unnamed: 0          int64
Manufacturer       object
Category            int64
Screen             object
GPU                 int64
OS                  int64
CPU_core            int64
Screen_Size_cm    float64
CPU_frequency     float64
RAM_GB              int64
Storage_GB_SSD      int64
Weight_kg         float64
Price               int64
dtype: object

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-12-10|0.1|Abhishek Gagneja|Initial Draft created|

Copyright © 2023 IBM Corporation. All rights reserved.