<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Generative AI for Querying Databases

In this lab you will leverage Generative AI platforms to create optimized queries for your data

You will need to download the Heart Disease datast from UC Irvine Machine Learning repository and setp a sqllite database to run queries

## Instal and/or import required libraries

In [67]:
# Install the UC Irvine Machine Learning Repository
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\duh1218.000\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\duh1218.000\anaconda3\lib\site-packages (from ucimlrepo) (2.0.3)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\duh1218.000\anaconda3\lib\site-packages (from ucimlrepo) (2024.7.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\duh1218.000\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\duh1218.000\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\duh1218.000\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\duh1218.000\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\duh1218.000\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [68]:
import pandas as pd
import csv, sqlite3

### Importing the dataset:
Import into Python using the UC Irvine Machine Learning library

In [70]:
from ucimlrepo import fetch_ucirepo  
# fetch dataset 
heart_disease = fetch_ucirepo(id=45) 
  
# data (as pandas dataframes) 
X = heart_disease.data.features 
y = heart_disease.data.targets 
  
# metadata 
# print(heart_disease.metadata) 
  
# variable information 
# print(heart_disease.variables)

In [156]:
# Concatenate the features and target dataframes into 1 table for use in the sqlite database
df = pd.DataFrame(data=heart_disease.data.original)
df.rename(columns={'num':'target'}, inplace=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2.0,7.0,2
300,57,1,4,130,131,0,0,115,1,1.2,2,1.0,7.0,3
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1
302,38,1,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0

In [241]:
heart_disease.metadata.additional_info.variable_info

'Only 14 attributes used:\r\n      1. #3  (age)       \r\n      2. #4  (sex)       \r\n      3. #9  (cp)        \r\n      4. #10 (trestbps)  \r\n      5. #12 (chol)      \r\n      6. #16 (fbs)       \r\n      7. #19 (restecg)   \r\n      8. #32 (thalach)   \r\n      9. #38 (exang)     \r\n      10. #40 (oldpeak)   \r\n      11. #41 (slope)     \r\n      12. #44 (ca)        \r\n      13. #51 (thal)      \r\n      14. #58 (num)       (the predicted attribute)\r\n\r\nComplete attribute documentation:\r\n      1 id: patient identification number\r\n      2 ccf: social security number (I replaced this with a dummy value of 0)\r\n      3 age: age in years\r\n      4 sex: sex (1 = male; 0 = female)\r\n      5 painloc: chest pain location (1 = substernal; 0 = otherwise)\r\n      6 painexer (1 = provoked by exertion; 0 = otherwise)\r\n      7 relrest (1 = relieved after rest; 0 = otherwise)\r\n      8 pncaden (sum of 5, 6, and 7)\r\n      9 cp: chest pain type\r\n        -- Value 1: typical angina\r\n        -- Value 2: atypical angina\r\n        -- Value 3: non-anginal pain\r\n        -- Value 4: asymptomatic\r\n     10 trestbps: resting blood pressure (in mm Hg on admission to the hospital)\r\n     11 htn\r\n     12 chol: serum cholestoral in mg/dl\r\n     13 smoke: I believe this is 1 = yes; 0 = no (is or is not a smoker)\r\n     14 cigs (cigarettes per day)\r\n     15 years (number of years as a smoker)\r\n     16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)\r\n     17 dm (1 = history of diabetes; 0 = no such history)\r\n     18 famhist: family history of coronary artery disease (1 = yes; 0 = no)\r\n     19 restecg: resting electrocardiographic results\r\n        -- Value 0: normal\r\n        -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV)\r\n        -- Value 2: showing probable or definite left ventricular hypertrophy by Estes\' criteria\r\n     20 ekgmo (month of exercise ECG reading)\r\n     21 ekgday(day of exercise ECG reading)\r\n     22 ekgyr (year of exercise ECG reading)\r\n     23 dig (digitalis used furing exercise ECG: 1 = yes; 0 = no)\r\n     24 prop (Beta blocker used during exercise ECG: 1 = yes; 0 = no)\r\n     25 nitr (nitrates used during exercise ECG: 1 = yes; 0 = no)\r\n     26 pro (calcium channel blocker used during exercise ECG: 1 = yes; 0 = no)\r\n     27 diuretic (diuretic used used during exercise ECG: 1 = yes; 0 = no)\r\n     28 proto: exercise protocol\r\n          1 = Bruce     \r\n          2 = Kottus\r\n          3 = McHenry\r\n          4 = fast Balke\r\n          5 = Balke\r\n          6 = Noughton \r\n          7 = bike 150 kpa min/min  (Not sure if "kpa min/min" is what was written!)\r\n          8 = bike 125 kpa min/min  \r\n          9 = bike 100 kpa min/min\r\n         10 = bike 75 kpa min/min\r\n         11 = bike 50 kpa min/min\r\n         12 = arm ergometer\r\n     29 thaldur: duration of exercise test in minutes\r\n     30 thaltime: time when ST measure depression was noted\r\n     31 met: mets achieved\r\n     32 thalach: maximum heart rate achieved\r\n     33 thalrest: resting heart rate\r\n     34 tpeakbps: peak exercise blood pressure (first of 2 parts)\r\n     35 tpeakbpd: peak exercise blood pressure (second of 2 parts)\r\n     36 dummy\r\n     37 trestbpd: resting blood pressure\r\n     38 exang: exercise induced angina (1 = yes; 0 = no)\r\n     39 xhypo: (1 = yes; 0 = no)\r\n     40 oldpeak = ST depression induced by exercise relative to rest\r\n     41 slope: the slope of the peak exercise ST segment\r\n        -- Value 1: upsloping\r\n        -- Value 2: flat\r\n        -- Value 3: downsloping\r\n     42 rldv5: height at rest\r\n     43 rldv5e: height at peak exercise\r\n     44 ca: number of major vessels (0-3) colored by flourosopy\r\n     45 restckm: irrelevant\r\n     46 exerckm: irrelevant\r\n     47 restef: rest raidonuclid (sp?) ejection fraction\r\n     48 restwm: rest wall (sp?) motion abnormality\r\n        0 = none\r\n        1 = mild or moderate\r\n        2 = moderate or severe\r\n        3 = akinesis or dyskmem (sp?)\r\n     49 exeref: exercise radinalid (sp?) ejection fraction\r\n     50 exerwm: exercise wall (sp?) motion \r\n     51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect\r\n     52 thalsev: not used\r\n     53 thalpul: not used\r\n     54 earlobe: not used\r\n     55 cmo: month of cardiac cath (sp?)  (perhaps "call")\r\n     56 cday: day of cardiac cath (sp?)\r\n     57 cyr: year of cardiac cath (sp?)\r\n     58 num: diagnosis of heart disease (angiographic disease status)\r\n        -- Value 0: < 50% diameter narrowing\r\n        -- Value 1: > 50% diameter narrowing\r\n        (in any major vessel: attributes 59 through 68 are vessels)\r\n     59 lmt\r\n     60 ladprox\r\n     61 laddist\r\n     62 diag\r\n     63 cxmain\r\n     64 ramus\r\n     65 om1\r\n     66 om2\r\n     67 rcaprox\r\n     68 rcadist\r\n     69 lvx1: not used\r\n     70 lvx2: not used\r\n     71 lvx3: not used\r\n     72 lvx4: not used\r\n     73 lvf: not used\r\n     74 cathef: not used\r\n     75 junk: not used\r\n     76 name: last name of patient  (I replaced this with the dummy string "name")'

In [158]:
# Load the sql extention and create database, connector, and cursor, then read table into database
%load_ext sql
con = sqlite3.connect("heart_disease.db")
cur = con.cursor()
%sql sqlite:///heart_disease.db
df.to_sql("heart_disease_prediction_dataset", con, if_exists='replace', index=False,method="multi")

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

303

In [160]:
%%sql
SELECT 
    MIN(age) AS min_age,
    MAX(age) AS max_age,
    AVG(age) AS avg_age
FROM 
    heart_disease_prediction_dataset;

 * sqlite:///heart_disease.db
Done.

[(29, 77, 54.43894389438944)]

In [162]:
%%sql
SELECT 
    MIN(age) AS min_age,
    MAX(age) AS max_age,
    AVG(age) AS avg_age
FROM 
    heart_disease_prediction_dataset;

 * sqlite:///heart_disease.db
Done.

[(29, 77, 54.43894389438944)]

In [164]:
%%sql
SELECT 
    cp,
    COUNT(*) AS frequency
FROM 
    heart_disease_prediction_dataset
GROUP BY 
    cp;

 * sqlite:///heart_disease.db
Done.

[(1, 23), (2, 50), (3, 86), (4, 144)]

In [166]:
%%sql
SELECT 
    MIN(chol) AS min_cholesterol,
    MAX(chol) AS max_cholesterol
FROM 
    heart_disease_prediction_dataset;

 * sqlite:///heart_disease.db
Done.

[(126, 564)]

In [168]:
%%sql
SELECT 
    sex,
    MIN(age) AS min_age,
    MAX(age) AS max_age
FROM 
    heart_disease_prediction_dataset
GROUP BY 
    sex;

 * sqlite:///heart_disease.db
Done.

[(0, 34, 76), (1, 29, 77)]

In [171]:
%%sql
SELECT 
    CASE
        WHEN age BETWEEN 20 AND 30 THEN '20-30'
        WHEN age BETWEEN 31 AND 40 THEN '31-40'
        WHEN age BETWEEN 41 AND 50 THEN '41-50'
        WHEN age BETWEEN 51 AND 60 THEN '51-60'
        WHEN age BETWEEN 61 AND 70 THEN '61-70'
        ELSE 'Above 70'
    END AS age_group,
    target,
    COUNT(*) AS frequency
FROM 
    heart_disease_prediction_dataset
GROUP BY 
    age_group, target;

 * sqlite:///heart_disease.db
Done.

[('20-30', 0, 1),
 ('31-40', 0, 11),
 ('31-40', 1, 3),
 ('31-40', 3, 2),
 ('31-40', 4, 1),
 ('41-50', 0, 53),
 ('41-50', 1, 11),
 ('41-50', 2, 5),
 ('41-50', 3, 6),
 ('41-50', 4, 1),
 ('51-60', 0, 64),
 ('51-60', 1, 27),
 ('51-60', 2, 17),
 ('51-60', 3, 17),
 ('51-60', 4, 5),
 ('61-70', 0, 30),
 ('61-70', 1, 14),
 ('61-70', 2, 14),
 ('61-70', 3, 10),
 ('61-70', 4, 5),
 ('Above 70', 0, 5),
 ('Above 70', 4, 1)]

In [173]:
%%sql
SELECT 
    CASE
        WHEN age BETWEEN 30 AND 40 THEN '30-40'
        WHEN age BETWEEN 41 AND 50 THEN '41-50'
        WHEN age BETWEEN 51 AND 60 THEN '51-60'
        WHEN age BETWEEN 61 AND 70 THEN '61-70'
        ELSE 'Above 70'
    END AS age_group,
    MAX(thalach) AS max_heart_rate
FROM 
    heart_disease_prediction_dataset
GROUP BY 
    age_group;

 * sqlite:///heart_disease.db
Done.

[('30-40', 192),
 ('41-50', 194),
 ('51-60', 195),
 ('61-70', 179),
 ('Above 70', 202)]

In [182]:
%%sql
SELECT 
    (CAST(SUM(CASE WHEN fbs = 1 THEN 1 ELSE 0 END) AS FLOAT) / COUNT(*)) * 100 AS percentage
FROM 
    heart_disease_prediction_dataset;

 * sqlite:///heart_disease.db
Done.

[(14.85148514851485,)]

In [204]:
%%sql
SELECT 
    (CAST(SUM(CASE WHEN restecg != 0 THEN 1 ELSE 0 END) AS FLOAT) / SUM(CASE WHEN restecg = 0 THEN 1 ELSE 0 END)) AS ratio
FROM 
    heart_disease_prediction_dataset;

 * sqlite:///heart_disease.db
Done.

[(1.0066225165562914,)]

In [246]:
%%sql
SELECT 
    COUNT(*) AS num_patients
FROM 
    heart_disease_prediction_dataset
WHERE 
    thal = 7;

 * sqlite:///heart_disease.db
Done.

[(117,)]

In [250]:
%%sql
SELECT 
    AVG(age) AS average_age
FROM 
    heart_disease_prediction_dataset
WHERE 
    cp > 0;

 * sqlite:///heart_disease.db
Done.

[(54.43894389438944,)]

In [255]:
%%sql
SELECT 
    ca,
    COUNT(*) AS num_patients
FROM 
    heart_disease_prediction_dataset
GROUP BY 
    ca;

 * sqlite:///heart_disease.db
Done.

[(None, 4), (0.0, 176), (1.0, 65), (2.0, 38), (3.0, 20)]